body {
  font-family: sans-serif;
}
.gallery-h1, .gallery-h2 {
  text-align: center;
}

#imageGallery {
  list-style:none;
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 780px;
  text-align: center;
}

#imageGallery li {
  display: inline-block;
  padding: 8px;
  margin:10px;
}

#imageGallery li img {
  display: block;
}
#imageGallery a {
  text-decoration: none;
}

#overlay {
  background:rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align: center;
}

#overlay img {
 margin-top: 10%; 
 width: 500px;
}

#overlay p {
  color: #fff;
}

.to-top {
    text-align:center;
}
#scroll-to-top{
    display:inline;
    bottom:15px;
    right:20px;
    opacity:0.8;
}

.arrow {
  clear:both;
}

h6 {
  display: none;
}


